<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>E-procure: Password Reset Email </title>
</head>
<body>

<div class="row">
    <div class="col-sm-6">
        <img class="img-responsive" src="https://api.e-procure.co.ke/static/core/logo.png" style="max-height: 50px;">
    </div>

    <div class="col-sm-6">

    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h2>Reset your password</h2>
        <p>Dear <b>{{ current_user.first_name }}</b>,</p>
        <p>We received a request to reset your password. Please create a new password by clicking this link: {{ reset_password_url }}</p>
        <p>If you did not request this change, no changes have been made to your account. We recommend that you review your security settings.</p>
        <p>Kind Regards,</p>
        <p>E-procure Team.</p>
    </div>
</div>
</body>
</html>
