$line-height: 24px;

//color specifications
$color-blue-main: #08243D;
$color-blue-light:#56c9f0;
$color-blue-medium: #9DB4C7;
$color-green-main: #4BAD51;
$color-white-milk: #F3F5F9;
$color-white-pure: #ffffff;
$color-gray-dark: #818181;
$color-gray-medium: #aaacad;
$color-gray-light: #e2e2e2;
$color-black-main: #000;
// $color-black-medium: #282828;
$color-black-medium: #474747;
$color-red-main: #b80707;
$color-orange-main: #e74c3c;

//typography
$font-size-title: 18px;
$font-size-normal: 16px;
$font-size-text: 15px;
$font-size-small: 14px;
$font-size-tiny: 12px;
